.swipe
  .questioncontainer
    %p.questiontitle.row= "Question #{@question.order}"
    %p.question.row.text-center= @question.text
  .answercontainer
    = form_tag(next_question_path(@question), method: :get)
    - case @question.question_type
    - when "input"
      .answer.row.col-md-6.input
        %input.form-control{:placeholder => "Enter your response here", :type => "text", name: "response"}

    - when "multi"
      .answer.row.col-md-6.multi
        %select.form-control{name: "response"}
          - content.each do |x|
            %option= x

    - when "slider"
      .answer.row.col-md-6.slider
        %input{:type => "range", :value => "5", :min => "0", :max => "10", "data-show-value" => "true", name: "response"}

    - when "highlo-slider"
      .row
        .col-md-2
        .col-md-1
          Low
        .col-md-6.slider
          %input{:type => "range", :value => "0", :min => "-10", :max => "10", "data-show-value" => "true", name: "response", style: "display: inline-block"}
        .col-md-1
          High
        .col-md-2

    - when "agree-multi"
      .answer.row.col-md-6.grades
        %select.form-control{name: "response"}
          %option Strongly Agree
          %option Agree
          %option No opinion either way
          %option Disagree
          %option Strongly disagree

    - when "importance-multi"
      .answer.row.col-md-6.grades
        %select.form-control{name: "response"}
          %option Very important
          %option Quite important
          %option Important
          %option A bit important
          %option Unimportant


    - when "jacs"
      .ui-widget
        %label{for: "jacs"} Subject
        %input#jacs{name: "response", "data-fields" => @jacs}
    - unless @question == Question.all.sort_by(&:order).first
      = link_to "Last question", last_question_path(@question), class: "btn btn-orange"
    = link_to "Skip the rest of this section", complete_questions_path, class: "btn btn-default"
    - unless @question == Question.all.sort_by(&:order).last
      = submit_tag "Next question", class: "btn btn-orange"
  

.movement.row
  .back.col-md-6

  .next.col-md-6