!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Unilo"
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    .navbar.navbar-default.navbar-static-top.header
      .navbar-header= link_to "Unilo", root_path, class: "navbar-brand title"
      .pull-right= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default"

    = render "layouts/flash"
    .container.central-col
      = yield

    .footer
      .container
        .footer_links
          %a#about About
          |
          %a#team Team
          |
          %a#yrs YRS
        
