!!!
%html
  %head
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

    .navbar.navbar-default.navbar-static-top.header
      .navbar-header
        %a.navbar-brand.title{:href =>"#"} Unilo

    #flash-display
      - flash.each do |type, msg|
        %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
          %button.close &times;
          = msg if msg.is_a?(String)
    .container.central-col
      = yield

    .footer
      .container Place sticky footer content here
